html,
body,
#root {
  width: 100%;
  max-width: 100%+;
  height: 100%;
  max-height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  /* border: 1px solid white; */
}
.App {
  height: 100%;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../public/images/background.jpeg");
  background-size: 100%, auto;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
.TopNav {
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.MainContent {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadButton {
  width: 100%;
  height: 100%;
}
.uploadImage {
  flex: 1;
  /* border: 1px solid black; */
  width: 100%;
}
.mainButton {
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
  margin: 10px;
}
.mainButton:hover {
  background-color: grey;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.startFadeOut {
  animation: fadeOutAnimation ease 2s forwards;
}
.startFadeIn {
  animation: fadeInAnimation ease 2s forwards;
}
